node_modules/
.env
raw_data/
parsed_data/
product_data/
product_names.xlsx
test_warehouse.txt
process.env
calPath.py
# Elastic Beanstalk Files
.elasticbeanstalk/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
