<!DOCTYPE html>
<html>
<head>
    <title>Warehouse</title>
</head>
<body>
    <h1>Warehouse DSMEDI</h1>
    <% for(var i = 0; i < inven_loc.length; i++){ %>
        <h4><%= inven_loc[i] %></h4>
    <% } %>
</body>
</html>
